   body::before {
       content: "";
       position: fixed;
       top: 30%;
       left: 10%;
       transform: translate(-50%, -50%) rotate(-25deg);
       width: 200px;
       height: 200px;
       background: url("https://www.freeiconspng.com/uploads/calculator-icon-0.png") no-repeat center;
       background-size: contain;
       opacity: 0.08;
       /* faint image */
       z-index: -2;
       pointer-events: none;
   }

   /* Text watermark layered on top */
   body::after {
       content: "SmartCalc";
       position: fixed;
       top: 30%;
       left: 10%;
       transform: translate(-50%, -50%) rotate(-25deg);
       font-size: 4rem;
       font-weight: 700;
       color: rgba(0, 0, 0, 0.05);
       /* faint text */
       z-index: -1;
       pointer-events: none;
       white-space: nowrap;
   }

   body {
       background-image:"{% url('https://png.pngtree.com/png-vector/20241226/ourmid/pngtree-multicolored-jigsaw-cube-illustration-png-image_14892589.png') %}";
       background-repeat: repeat;
       background-attachment: fixed;
       background-size: cover;
   }